nltk
chainlit==0.7.501
tiktoken
chromadb
loguru
pysqlite3-binary
pdfplumber
unstructured[md]

langchain
langchain-community
langchain-chroma
langchain-google-genai # Google Gemini
langchain-groq # Groq

llama-index
llama-parse