nltk
# chainlit==0.7.501
chainlit
tiktoken
chromadb
loguru
pysqlite3-binary # uncomment if python < 3.10
python-magic-bin==0.4.14
pdfplumber
icecream
unstructured[md]

langchain
langchain-community
langchain-chroma
langchain-google-genai # Google Gemini
langchain-groq # Groq

llama-index
llama-parse