nltk
chainlit==0.7.501
tiktoken
chromadb
loguru
# pysqlite3-binary
ruff
pdfplumber
unstructured[all-docs]


langchain
langchain-community
langchain-chroma
langchain-google-genai # Google Gemini
langchain-groq # Groq

llama-index
llama-parse